body {
  background-color: #0c1118;
  margin: 0;
}
.wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  width: 100%;
}
pre {
  margin: 0;
}
#code-display {
  padding-top: 0;
  padding-bottom: 0;
}
.line-numbers {
  color: #4a5c76;
  font-family: monospace;
  text-align: end;
}
textarea {
  background-color: transparent;
  resize: none;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
  color: #97a2b1;
  min-height: calc(100vh - 2rem);
  border: none;
  outline: none;
}
.buttons-wrapper {
  display: flex;
  width: 100%;
  position: initial;
  top: 0;
  right: 0;
  transition: opacity 200ms ease-in-out;
  background-color: #324665;
  padding: 0.25rem 1rem;
}
.buttons-wrapper:hover {
  opacity: 1;
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  color: wheat;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.logo:hover {
  text-decoration: underline;
}
.buttons {
  display: flex;
  margin-top: 0.5rem;
  justify-content: left;
}
.buttons > * + * {
  margin-left: 0.25rem;
}
.btn {
  cursor: pointer;
  background: none;
  border: 1px solid #0c1118;
  color: #0c1118;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 200ms ease-in-out;
  display: inline-block;
  text-decoration: none;
  margin-right: 3rem;
}
